.tittle-bar {
    background-color: #2f4473;
    padding: 10px;
}

.tittle-bar h1 {
    color: white;
}

.bordeless-container {
    border: 1px solid beige;
    border-radius: 5px;
}

.campo-invalido {
    color: red;
}